

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddf0c6;
}

header {
    background-color: #31863d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #f1f5f2;
    text-decoration: none;
}

/*.banner {
    /*background-image: linear-gradient(to bottom, #4CAF50, #3e8e41);
    color: #fff;*/
    /*padding: 50px;*/
    /*margin-top: 05px;*/
    /*text-align: center;*/

    /*background-image: url('tu-imagen.jpg'); /* Reemplaza con la URL de tu imagen */
    /*background-size: cover; /* Asegura que la imagen cubra todo el banner */
    /*background-position: center; /* Centra la imagen en el banner */
    /*width: 10%;
    /*height: 50vh; /* Altura de la ventana del navegador */
    /*display: flex;
    /*align-items: center; /* Centra verticalmente el contenido */
    /*justify-content: center; /* Centra horizontalmente el contenido */
    /*color: white; /* Color del texto */
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto para mejor legibilidad */
    /*text-align: center; /* Centra el texto */

/*}*/



.botones {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botones button { 
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
    background-color: #87dd72;
}

.botones button:hover {
    background-color: #1a441d;
    color: #fff;
    transform: translateY(-2px);
}




/*  

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

*/

/*
.botones button-container {
    text-align: center;
    margin-top: 20px;
}

.botones elegant-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    color: #066325;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.botones elegant-button:hover {
    background-color: #bde748;
    transform: translateY(-2px);
}

*/

.contenido {
    max-width: 1275px;
    margin: 40px auto;
    padding: 20px;
    background-color: #e7f5c2;
    border: 2px solid #1f9739;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(35, 100, 40, 0.1);
}

.contenido h2 {
    margin-top:0;
}


.justificado {
    text-align: justify;
}
   

footer {
    background-color: #046309;
    color: #fff;
    padding: 2px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* codigo para slider */
.slider {
    position: relative;
    width: 70%;
    height: 550px;
    margin: 30px auto;
    overflow: hidden;
        
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.slide.active {
    display: block;
}

.botones1 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.prev, .next {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.indicadores {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.indicadores span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
}

.indicadores span.active {
    background-color: #007bff;
}

/* fin codigo slider */